{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h3>What do you need to do?</h3>
    <h6><a href="{% url "todo_new" %}">Create Todo Item</a></h6>
</div>


{% for todo in object_list %}
<div class="container">
    <div class="d-flex">
        <div class="mr-auto p-2">{{ todo.item }}</div>
        <div class="p-2"><a class="list_item_links" href="{% url "todo_detail" todo.id %}"> view   </a></div>
        <div class="p-2"><a class="list_item_links" href="{% url "todo_edit" todo.id %}"> edit </a></div>
        <div class="p-2"><a class="list_item_links" href="{% url "todo_delete" todo.id %}"> delete </a></div>
    </div>
</div>

{% endfor %}
{% endblock %}
